[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
pyjwt = "*"
django-filter = "*"
pipfile = "*"

[dev-packages]
ipython = "*"
pipfile = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
