@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

:root {
  --2px: 0.125rem;
  --3px: 0.188rem;
  --5px: 0.3125rem;
  --10px: 0.625rem;
  --15px: 0.938rem;
  --20px: 1.25rem;
  --25px: 1.563rem;
  --30px: 1.875rem;
}


/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: hsl(210, 100%, 95%);
}

a {
  cursor: pointer;
  text-decoration: none;
}


/* HEADER */
header {
  background-color: hsl(0, 0%, 100%);
}

.header-wrapper {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--10px);
  max-width: 80vw;
  padding: var(--20px) 0;
  margin-inline: auto;
}

.brand {
  line-height: 1.3;
  color: hsl(210, 100%, 25%);
}

.brand > h1 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.brand > p {
  margin-left: var(--5px);
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
}

.navbar,
.profile {
  align-self: center;
  margin-left: auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
}

.nav-icon,
.profile-icon {
  color: hsl(0, 0%, 50%);
  width: 2rem;
  height: 2rem;
}

.nav-icon:hover,
.profile-icon:hover,
.nav-icon:focus,
.profile-icon:focus {
  cursor: pointer;
  color: hsl(210, 100%, 40%);
}

.profile {
  position: relative;
}

.profile-menu {
  display: none;
  position: absolute;
  list-style: none;
  background-color: hsl(210, 100%, 55%);
}

.profile-menu:hover {
  display: block;
}

@media (max-width: 75.5rem) {
  .profile-menu {
    right: 0;
  }
}

.profile-menu > li {
  padding: var(--5px) var(--20px);
}

.profile-menu > li:hover,
.profile-menu > li:focus {
  background-color: hsl(210, 100%, 65%);
}

.profile-menu > li > a {
  display: block;
  min-width: max-content;
  font-size: 1.2rem;
  color: #fff;
}

.profile:hover .profile-menu,
.profile:focus .profile-menu {
  display: flex;
  flex-direction: column;
}


/* MAIN */
main {
  margin: var(--30px) 0;
  max-width: 80vw;
  margin-inline: auto;
}

.btn {
  padding: var(--15px);
  font-size: var(--20px);
}

.btn-small {
  padding: var(--10px);
  font-size: var(--15px);
}

.btn,
.btn-small {
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: var(--10px);
}

.btn:hover,
.bnt:focus,
.btn-small:hover,
.btn-small:focus {
  cursor: pointer;
}

.user-avatar-200 {
  width: 200px;
  height: 200px;
}

.user-avatar-50 {
  width: 50px;
  height: 50px;
}


/* AUTH SECTION */
.auth {
  display: flex;
  justify-content: space-around;
  gap: var(--30px);
  padding: var(--20px);
}

.auth > div {
  flex: 1;
  padding: var(--30px);
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--10px);
}

.auth > div:first-of-type {
  line-height: 1.5;
}

.auth > div:first-of-type > h2 {
  margin-bottom: var(--15px);
  font-size: var(--25px);
  color: hsl(210, 100%, 40%);
}

.auth > div:first-of-type > p:not(:last-of-type) {
  margin-bottom: var(--10px);
}

.auth > div:first-of-type > p:first-of-type {
  font-weight: 300;
}

.auth > div:first-of-type > p:last-of-type {
  margin-top: var(--20px);
  font-weight: 700;
}

/* AUTH FORM */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--10px);
  letter-spacing: 0.07rem;
}

.auth-form-group {
  margin-bottom: var(--20px);
}

.auth-form-group > label {
  display: block;
  margin-bottom: var(--10px);
  font-size: var(--20px);
  font-weight: 500;
}

.auth-form-group > input {
  width: 100%;
  padding: var(--20px);
  font-size: var(--15px);
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: var(--10px);
}

.auth-form-group > input:focus {
  border: none;
}

.auth-form > .btn {
  align-self: flex-start;
  background-color: hsl(210, 100%, 50%);
}
.auth-form > .btn:hover,
.auth-form > .btn:focus {
  background-color: hsl(210, 100%, 60%);
}


/* TIMELINE SECTION */
.timeline,
.messages,
.search {
  display: flex;
  justify-content: space-between;
  gap: var(--30px);
}

.timeline > div,
.messages > div {
  /*
  padding: var(--20px);
  background-color: hsl(0, 0%, 100%);
  */
  border-radius: var(--10px);
}

/* Timeline User Info */
.user-info {
  display: flex;
  flex-direction: column;
  gap: var(--15px);
  height: max-content;
  padding: var(--20px);
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.user-info-name {
  font-size: var(--20px);
  font-weight: 600;
}

.user-info-stats {
  display: flex;
  justify-content: space-around;
}

.user-info-stats > a {
  color: hsl(0, 0%, 30%);
}

.user-info-stats > a:hover,
.user-info-stats > a:focus {
  color: hsl(0, 0%, 20%);
  font-weight: 500;
}

.user-info-status {
  display: flex;
  flex-direction: column;
  gap: var(--15px);
}

.user-info-status > button,
.user-info-status > a {
  align-self: center;
  background-color: hsl(210, 100%, 50%);
}

.user-info-status > button:focus,
.user-info-status > button:hover,
.user-info-status > a:focus,
.user-info-status > a:hover {
  background-color: hsl(210, 100%, 60%);
}

/* Timeline Status */
.status {
  flex-grow: 2;
}

.status-form,
.status-post {
  padding: var(--20px);
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--10px);
}

.status-form > form > *:not(:last-child) {
  margin-bottom: var(--15px);
}

.status-form > form > textarea {
  display: block;
  width: 100%;
  padding: var(--10px);
  font-size: var(--15px);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: var(--10px);
}

.status-form > form > .form-group {
  display: flex;
  justify-content: space-between;
}

.status-form > form > .form-group > div > label {
  display: block;
  margin-bottom: var(--5px);
}

.status-form > form > .form-group > .btn {
  background-color: hsl(210, 100%, 50%);

}

.status-form > form > .form-group > .btn:not(:only-child) {
  margin-left: auto;
}

.status-form > form > .form-group > .btn:hover,
.status-form > form > .form-group > .btn:focus {
  background-color: hsl(210, 100%, 60%);
}

.status-post {
  display: flex;
  flex-direction: column;
  gap: var(--20px);
  margin-top: var(--30px);
}

.status-post-info {
  display: flex;
  justify-content: space-between;
  gap: var(--20px);
}

.status-post-info-name {
  align-self: center;
  flex-grow: 2;
}

.status-post-info-time {
  align-self: center;
}

.status-post-body > p {
  margin-bottom: var(--10px);
}

.status-post-body > div > img {
  width: 100%;
}

.status-post-footer {
  display: flex;
  gap: var(--30px);
}

.status-post-footer > div:last-of-type {
  margin-left: auto;
}

.status-post-footer > div {
  display: inline-flex;
  gap: var(--5px);
}

.status-post-footer > div > span,
.status-post-footer > div > a {
  align-self: center;
}

.status-post-footer > div > a {
  color: hsl(0, 0%, 0%);
}

.status-post-footer > div > a:hover,
.status-post-footer > div > a:focus {
  color: hsl(0, 0%, 30%);
}

.status-post-icon {
  color: hsl(0, 0%, 50%);
  width: 1.7rem;
  height: 1.7rem;
}

.status-post-footer > div:first-of-type .status-post-icon:hover,
.status-post-footer > div:first-of-type .status-post-icon:focus {
  cursor: pointer;
  color: hsl(0, 100%, 50%);
}

.status-post-footer > div:not(:first-of-type) .status-post-icon:hover,
.status-post-footer > div:last-of-type:not(:first-of-type) .status-post-icon:focus {
  cursor: pointer;
  color: hsl(210, 100%, 40%);
}

/* Timeline Suggestions */
.suggestions > div:not(:last-of-type) {
  margin-bottom: var(--30px);
}

.suggested-users,
.trends {
  padding: var(--20px);
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--10px);
}

.suggested-users > p,
.trends > p {
  font-size: var(--20px);
  font-weight: 600;
  margin-bottom: var(--30px);
}

.suggested-users-group {
  display: flex;
  gap: var(--20px);
}

.suggested-users-group:not(:last-of-type) {
  margin-bottom: var(--20px);
}

.suggested-users-group > p {
  align-self: center;
  white-space: nowrap;
  font-weight: 600;
}

.suggested-users-group > button {
  align-self: center;
}

.suggested-users-group > button,
.trends-group > button {
  padding: var(--10px);
  font-size: var(--15px);
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background-color: hsl(330, 100%, 35%);
  border: none;
  border-radius: var(--10px);
}

.suggested-users-group > button:hover,
.suggested-users-group > button:focus,
.trends-group > button:hover,
.trends-group > button:focus {
  cursor: pointer;
  background-color: hsl(330, 100%, 45%);
}

.trends-group {
  display: flex;
  justify-content: space-between;
  gap: var(--20px);
}

.trends-group:not(:last-of-type) {
  margin-bottom: var(--20px);
}

.trends-group > div {
  line-height: 1.3;
  text-align: right;
}

.trends-group > div > p:first-of-type {
  font-weight: 600;
  letter-spacing: 0.06rem;
}


/* MESSAGES */
.messages-info {
  display: flex;
  height: max-content;
  padding: var(--10px);
  margin-bottom: var(--10px);
  border-radius: var(--10px);
  background-color: hsl(0, 0%, 100%);
  transition: color .3s ease-in;
}

.messages-info > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--10px);
}

.messages-info > div:hover,
.messages-info > div:focus {
  padding: var(--5px);
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(220, 100%, 55%);
  border-radius: var(--10px);
}

.messages-info > div > p,
.messages-info > div > a {
  align-self: center;
}

.messages-info > div > p:first-of-type {
  font-size: var(--15px);
  font-weight: 600;
}

.messages-info > a {
  align-self: center;
  margin-left: var(--10px);
}

.messages-trash-icon {
  width: 1.3rem;
  height: 1.3rem;
  font-weight: 700;
  color: hsl(0, 100%, 40%);
}

.messages-trash-icon:hover,
.messages-trash-icon:focus {
  color: hsl(0, 100%, 50%);
}

.messages-wrapper {
  flex-grow: 2;
}

.messages-container {
  margin-bottom: var(--20px);
}

.messages-container, .messages-post {
  padding: var(--20px);
  background-color: #fff;
  border-radius: var(--10px);
}

.message-left,
.message-right {
  display: flex;
  flex-direction: column;
  gap: var(--5px);
}

.message-left > div,
.message-right > div {
  display: grid;
  grid-template-columns: 50px 1fr minmax(200px, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: var(--15px);
}

.message-left > div > p:first-of-type,
.message-right > div > p:first-of-type {
  padding: var(--10px);
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 1.3;
  border-top-right-radius: var(--10px);
  border-bottom-left-radius: var(--10px);
  border-bottom-right-radius: var(--10px);
}

.message-left > div > p:first-of-type {
  grid-column: 2 / 9;
  justify-self: start;
  color: hsl(0, 0%, 100%);
  background-color: hsl(220, 100%, 55%);
}

.message-left > div > p:last-of-type {
  grid-column: 2;
}

.message-right > div > p:first-of-type {
  grid-column: span 8;
  justify-self: end;
  background-color: hsl(220, 100%, 93%);
}

.message-right > div > img {
  grid-column: 9;
  justify-self: start;
}

.message-right > div > p:last-of-type {
  grid-column: 8;
}

.messages-post-form > textarea {
  width: 100%;
  padding: var(--10px);
  font-size: var(--15px);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: var(--10px);
}

.messages-post-form > .btn {
  margin-top: var(--15px);
  background-color: hsl(330, 100%, 35%);
}

.messages-post-form > .btn:hover,
.messages-post-form > .btn:focus {
  background-color: hsl(330, 100%, 45%);
}


/* SEARCH */
.search-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--20px);
}

.search-form,
.search-post {
  padding: var(--20px);
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--10px);
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: var(--10px);
}

.search-form > .form-group {
  display: flex;
  gap: var(--10px);
}

.search-form > .form-group:first-of-type > input {
  width: 100%;
  padding: var(--20px);
  font-size: 1.3rem;
  background-color: hsl(210, 100%, 95%);
  border: none;
  border-radius: var(--10px);
}

.search-form > .form-group > .btn {
  background-color: hsl(330, 100%, 35%);
}

.search-form > .form-group > .btn:hover,
.search-form > .form-group > .btn:focus {
  background-color: hsl(330, 100%, 45%);
}

.search-result > .user-info {
  border-radius: var(--10px);
}

.search-result > .user-info > * {
  margin-inline: auto;
}

.search-result .user-info-stats {
  gap: var(--20px);
}

.error {
  margin: var(--5px) 0;
  font-size: .8rem;
  color: hsl(0, 100%, 50%);
}


/* MEDIA */
@media (max-width: 75rem) {
  .header-wrapper,
  main {
    max-width: 100%;
    margin-inline: var(--20px);
  }
}

@media (max-width: 61rem) {
  .header-wrapper,
  main {
    max-width: 80vw;
    margin-inline: auto;
  }
  .brand > h1 {
    font-size: 1.5rem;
  }
  .brand > p {
    font-size: .7rem;
  }
  .navbar {
    gap: 2rem;
  }
  .nav-icon, .profile-icon {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media (max-width: 32.5rem) {
  .header-wrapper,
  main {
    max-width: 100%;
    margin-inline: var(--20px);
  }
}

@media (max-width: 39.625rem) {
  .navbar {
    margin-left: 0;
  }
}

@media (max-width: 48rem) {
  .auth {
    flex-direction: column;
  }
}

@media (max-width: 61rem) {
  .timeline,
  .messages,
  .search {
    flex-direction: column;
  }
  .user-info-stats {
    justify-content: center;
    gap: var(--10px);
  }
  .status-form > form > .form-group > .btn {
    padding: var(--10px);
    font-size: var(--15px);
    font-weight: 600;
  }
}

@media (max-width: 23rem) {
  .status-form > form > .form-group {
    flex-direction: column;
    gap: var(--15px);
  }
  .status-form > form > .form-group > .btn {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 23.75rem) {
  .status-post-footer {
    flex-direction: column;
    gap: var(--10px);
  }
  .status-post-footer > div:last-of-type {
    margin-left: 0;
  }
}

@media (max-width: 38rem) {
  .search-form {
    flex-direction: column;
  }
  .search-form > input {
    font-size: 1.1rem;
  }
  .search-form > .btn {
    align-self: flex-start;
    padding: var(--10px);
    font-size: 1.1rem;
  }
}
